<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CYCLIC" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/requestIntercepting.log</File>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>
				logs/requestIntercepting.%i-%d{yyyy-MM-dd_HH-mm}.log.zip
			</FileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE-spring-beans" class="ch.qos.logback.core.FileAppender">
		<append>false</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
		</encoder>
		<file>logs/spring/beans.log</file>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT-web-initializer" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%msg%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="org.hightrax.app" level="debug">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hightrax.app.config.SpringWebConfig" level="debug" additivity="false">
		<appender-ref ref="CYCLIC" />
	</logger>

	<logger name="org.hightrax.app.servlet3.MyWebInitializer" level="debug" additivity="false">
		<appender-ref ref="STDOUT-web-initializer" />
	</logger>

	<logger name="org.hightrax.app.config.LoggedSpringRootConfig" level="debug" additivity="false">
		<appender-ref ref="FILE-spring-beans"/>
	</logger>
	
	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
